@keyframes fadein{
  0%{
    opacity:0;
    left:-100px
  }
  100%{
    opacity:1.0;
    left:0px;
  }
}


.movie-enter {
  opacity: 0.01;
}

.movie-enter.movie-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.movie-leave {
  opacity: 1;
}

.movie-leave.movie-leave-active {
  opacity: 0.01;
  transition: opacity 1500ms ease-in;
}

.panel-body{
  padding:0;
}
.search-form{
  margin:auto;
  background:#f4f4f4;
  padding: 0 20px 20px;
  border:1px solid #ccc;
  border-radius:10px;
}
.image_preview h5{
  font-size: 14px;
  min-height: 30px;
  margin-bottom: 5px;
}
.image_preview img{
  max-width:100%;
  max-height: 250px;
}

.image_preview .thumbnail{
    animation: fadein .65s ease-out;
    position:relative;
    text-align: center;
}

.image_preview .inset{
  position: absolute;
  bottom:0px;
  padding: 5px 0 10px 0;
  left:0;
  background:#fff;
  text-align:center;
  opacity:0.8;
  width:100%;
}
.content_wrap{
  padding-left: 0px;
}
.details_wrap{padding:20px;}
.content_wrap p{
  padding: 0;
  max-height: 115px;
  overflow-y: auto;
  overflow-x: hidden;
}
